<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Кисловодский фарфор от производителя Дельта-X {% if pageTitle is defined %}| {{ pageTitle }}{% endif %}</title>
        <meta name="keywords" lang="ru" content="Дельта-X, delta-x, дельта-икс">
        <meta name="description" content="Дельта-х | {% if pageTitle is defined %}{{ pageTitle }}{% else %}Производство твердого авторского фарфора ручной работы от Кисловодской компании Дельта-х{% endif %}">
        <meta name="Document-state" content="Dynamic">
        <meta name="Resource-type" content="document">
        <meta http-equiv="Cache-Control" content="no-cache">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/fancybox-3.0/dist/jquery.fancybox.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/html5shiv-printshiv.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery.flexslider-min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/script.js') }}"></script>
            <script src="{{ asset('bundles/app/fancybox-3.0/dist/jquery.fancybox.min.js') }}"></script>
        {% endblock %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(56177944, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/56177944" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36999000-7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-36999000-7');
        </script>
        <meta name="yandex-verification" content="f4e274c2a5e767d6" />
    </head>
    <body>
        <div class="wrapper">
            {% block header %}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
