{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    {% include 'AppBundle:default:slider.html.twig' %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="/"></a></li>
                    <li><a href="/catalog">каталог продукции</a></li>
                    <li><span>авторские изделия</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock catalogPage clearfix">
                    <div class="pageNameBlock">
                        Категория
                    </div>
                    <div class="catalogMenu">
                        {% for productLink in productLinks %}
                            {% if loop.first %}
                                <span class="currentCatalog collapsed">{{ productLink }}</span>
                                <ul>
                            {% else %}
                                <li><a href="#">{{ productLink }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="searchContainer">
                        {#<form action="/">#}
                            {#<input class="searchBtn" type="submit" value="">#}
                            {#<input class="searchInput" type="text" placeholder="поиск...">#}
                        {#</form>#}
                    </div>
                </div>
                <div class="contentBlock">
                    <div class="catalogBlock">
                        <div class="catalogFilter">
                            <ul>
                                {% for productCategory in productCategories %}
                                    <li><a href="#">{{ productCategory }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="catalogListBlock">
                            {#<div class="paginator">#}
                                {#<ul>#}
                                    {#<li class="leftArrow"><a href="#"></a></li>#}
                                    {#<li class="act"><a href="#">1</a></li>#}
                                    {#<li><a href="#">2</a></li>#}
                                    {#<li><a href="#">3</a></li>#}
                                    {#<li><a href="#">4</a></li>#}
                                    {#<li><a href="#">11</a></li>#}
                                    {#<li class="rightArrow"><a href="#"></a></li>#}
                                {#</ul>#}
                            {#</div>#}
                            <div class="catalogList">
                                {% for product in products %}
                                    <div class="catalogItem">
                                        <a href="/catalog/item/{{ product.alias }}" class="catalogItemBody">
                                            <span class="catalogItemImage">
                                                <img src="{% path product.productMedia.0.media, 'big' %}" alt="/" >
                                            </span>
                                            <span class="catalogItemTitle">{{ product.title }}</span>
                                            {#<span class="catalogItemDesc">Небольное описание сервиза, материалов и прочего. Немного текста бля большей конверсии продукции.</span>#}
                                        </a>
                                        <a href="/catalog/item/{{ product.alias }}" class="catalogItemLink bold">Подробнее...</a>
                                    </div>
                                {% endfor %}
                            </div>
                            {#<div class="paginator">#}
                                {#<ul>#}
                                    {#<li class="leftArrow"><a href="#"></a></li>#}
                                    {#<li class="act"><a href="#">1</a></li>#}
                                    {#<li><a href="#">2</a></li>#}
                                    {#<li><a href="#">3</a></li>#}
                                    {#<li><a href="#">4</a></li>#}
                                    {#<li><a href="#">11</a></li>#}
                                    {#<li class="rightArrow"><a href="#"></a></li>#}
                                {#</ul>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pusher"></div>
{% endblock %}