{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="/"></a></li>
                    <li><a href="/catalog">каталог продукции</a></li>
                    <li><span>{{ productItem.title }}</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock catalogPage clearfix">
                    <div class="pageNameBlock">
                        Категория
                    </div>
                    <div class="catalogMenu">
                        <span class="currentCatalog collapsed">{{ actualProductLink }}</span>
                        <ul>
                        {% for productLink in productLinks %}
                            {% if actualProductLink.id != productLink.id %}
                                <li><a href="/catalog?productLinkFilter={{ productLink.id }}">{{ productLink }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="searchContainer">
                        {#<form action="/">#}
                            {#<input class="searchBtn" type="submit" value="">#}
                            {#<input class="searchInput" type="text" placeholder="поиск...">#}
                        {#</form>#}
                    </div>
                </div>
                <div class="contentBlock catalogPage">
                    <div class="catalogBlock">
                        <div class="catalogFilter">
                            <ul>
                                {% for category in productCategories %}
                                    <li {% if category == productCategory %}class="act" {% endif %}>
                                        <a href="/catalog?categoryFilter={{ category.id }}&productLinkFilter={{ actualProductLink.id }}">{{ category }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="catalogListBlock">
                            <div class="paginator">
                                {#<ul>#}
                                    {#<li class="leftArrow"><a href="#"></a></li>#}
                                    {#<li class="act"><a href="#">1</a></li>#}
                                    {#<li><a href="#">2</a></li>#}
                                    {#<li><a href="#">3</a></li>#}
                                    {#<li><a href="#">4</a></li>#}
                                    {#<li><a href="#">11</a></li>#}
                                    {#<li class="rightArrow"><a href="#"></a></li>#}
                                {#</ul>#}
                            </div>
                            <div class="catalogDescrItem">
                                <a href="/catalog" class="backToCatalog">Назад к каталогу</a>
                                <script>
                                    $(function() {
                                        $('#catalogDescrThumbSlider').flexslider({
                                            animation: "slide",
                                            controlNav: false,
                                            itemWidth: 200,
                                            animationLoop: false,
                                            itemMargin: 8,
                                            asNavFor: '#catalogDescrSlider',
                                            slideshow: false
                                        });
                                        $('#catalogDescrSlider').flexslider({
                                            animation: "slide",
                                            controlNav: false,
                                            directionNav: false,
                                            animationLoop: false,
                                            sync: "#catalogDescrThumbSlider",
                                            slideshow: false
                                        });
                                    });
                                </script>
                                <div class="catalogDescrSlides">
                                    <div id="catalogDescrSlider" class="catalogDescrSlider">
                                        <ul class="slides">
                                            {% set imgIndex = 0 %}
                                            {% for productMedia in productItem.productMedia %}
                                                {% if productMedia.media is not empty %}
                                                    {% set imgIndex = imgIndex + 1 %}
                                                    <li>
                                                        <p style="position: absolute; font: 20px bold; margin: 20px 0 0 50px; color: black;">
                                                            {{ imgIndex }}
                                                        </p>
                                                        <a href="{% path productMedia.media, 'prod' %}" data-fancybox="gallery">
                                                            <img style="height: 690px; max-width: 850px; margin: 0 auto;" src="{% path productMedia.media, 'prod' %}" alt ="" />
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div id="catalogDescrThumbSlider" class="catalogDescrThumbSlider">
                                        <ul class="slides">
                                            {% set imgIndex = 0 %}
                                            {% for productMedia in productItem.productMedia %}
                                                {% if productMedia.media is not empty %}
                                                    {% set imgIndex = imgIndex + 1 %}
                                                    <li>
                                                        <p style="position: absolute; margin: 10px 0 0 20px; color: black;">
                                                            {{ imgIndex }}
                                                        </p>
                                                        <img src="{% path productMedia.media, 'prodPrev' %}" alt ="" />
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="catalogDescrBody">
                                    <span class="catalogDescrTitle">{{ productItem.title }}</span>
                                    <p>
                                        {{ productItem.text|raw }}
                                    </p>
                                </div>
                            </div>
                            {#<div class="paginator">#}
                                {#<ul>#}
                                    {#<li class="leftArrow"><a href="#"></a></li>#}
                                    {#<li class="act"><a href="#">1</a></li>#}
                                    {#<li><a href="#">2</a></li>#}
                                    {#<li><a href="#">3</a></li>#}
                                    {#<li><a href="#">4</a></li>#}
                                    {#<li><a href="#">11</a></li>#}
                                    {#<li class="rightArrow"><a href="#"></a></li>#}
                                {#</ul>#}
                            {#</div>#}
                            {% if likeProducts %}
                                <div class="maybeBlock">
                                    <span class="titleIcon">
                                        <img src="{{ asset('bundles/app/images/catalog_title_icon.png') }}" alt="/" />
                                    </span>
                                    <h2 class="mainTitle">ВОЗМОЖНО ВАМ ТАК ЖЕ ПОНРАВИТСЯ</h2>
                                    <div class="catalogListAdd">
                                        {% for likeProduct in likeProducts %}
                                            {% if loop.index0 < 3 %}
                                                <div class="catalogItemBlock">
                                                    <div class="catalogItem">
                                                        <a href="/catalog/item/{{ likeProduct.alias }}" class="catalogItemBody">
                                                        <span class="catalogItemImage">
                                                            <img src="{% path likeProduct.productMedia.0.media, 'big' %}" alt="/" >
                                                        </span>
                                                            <span class="catalogItemTitle">{{ likeProduct.title }}</span></span>
                                                            {#<span class="catalogItemDesc">Небольное описание сервиза, материалов и прочего. Немного текста для большей конверсии продукции.</span>#}
                                                        </a>
                                                        <a href="/catalog/item/{{ likeProduct.alias }}" class="catalogItemLink bold">Подробнее...</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="pusher"></div>
{% endblock %}