{% extends 'AppBundle:default:layout.html.twig' %}

{% block body %}
    <div class="innerPageBlock clearfix">
        <div class="breadCrumbs clearfix">
            <div class="breadCrumbsBlock clearfixk">
                <ul>
                    <li class="home"><a href="index.html"></a></li>
                    <li><a href="/encyclopedia">Энциклопедия</a></li>
                    <li><span>{{ article.title }}</span></li>
                </ul>
            </div>
        </div>
        <section class="baseContent clearfix">
            <div class="baseContentBlock clearfix">
                <div class="searchBlock clearfix">
                    <div class="pageNameBlock">
                        Энциклопедия
                    </div>
                    <div class="searchContainer">
                        {#<form action="/">#}
                            {#<input class="searchBtn" type="submit" value="">#}
                            {#<input class="searchInput" type="text" placeholder="поиск...">#}
                        {#</form>#}
                    </div>
                </div>
                <div class="contentBlock">
                    <div class="content">
                        <a href="/encyclopedia" class="backToEncyclopedia"></a>
                        <h1 class="contentTitle">{{ article.title }}</h1>
                        {{ article.description|raw }}
                        <br/>
                        {% if article.articleMedia is not empty %}
                            <hr />
                            <div id="catalogDescrThumbSlider" class="catalogDescrThumbSlider">
                                <ul class="slides">
                                    {% for articleMedia in article.articleMedia %}
                                        {% if articleMedia.media is defined %}
                                            {#{{ dump(articleMedia.media) }}#}
                                            <a href="{% path articleMedia.media, 'big' %}"  data-fancybox="images" data-caption="{{ article.title }}">
                                                <img src="{% path articleMedia.media, 'prodPrev' %}" />
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $('[data-fancybox]').fancybox({
            image : {
                protect: true
            }
        });
    </script>

    <div class="pusher"></div>
{% endblock %}