<header class="headfixed clearfix">
    <div class="headBlock clearfix">
        <div class="chooseLocale">
            <span class="choiceLocale">Выберите язык:</span>
            <a href="/">
                <img src="{{ asset('bundles/app/images/rus_img.svg') }}" alt="" />
                <span>Русский</span>
            </a>
        </div>
        <div class="mainLogo">
            <a href="/">
                <img src="{{ asset('bundles/app/images/logo_new.png') }}" alt="Логотип" style="width: 258px; height: 62px;" />
                <span class="logo-slogan">
                ЭКСЛЮЗИВНЫЙ ФАРФОР<br />РУЧНОЙ РАБОТЫ
                </span>
            </a>
        </div>
        <div class="phonesBlock">
            <div>
                <span class="phoneTitle">Наши телефоны:</span>
                <span class="bold">8(87937) 6 79 36</span>
                <span class="bold">8(87937) 6 65 36</span>
            </div>
            <div>
                <span class="phoneTitle">Email:</span>
                <span class="bold"><a href="mailto:admin@delta-x.ru">admin@delta-x.ru</a></span>
            </div>
            <div>
                <span class="phoneTitle">Taplink:</span>
                <img src="{{ asset('bundles/app/images/round_logo.png') }}" width="20" style="display: inline-block; vertical-align: middle;">
                <span class="bold" style="display: inline-block;"><a href="https://taplink.cc/delta_x?from=qr" target="_blank" rel="nofollow">delta-x.ru</a></span>
            </div>
        </div>
    </div>
    <div class="mobileFixed">
        <div class="mobileMenuIcon">
            <a id="showMobileMenu" href="#"><img src="{{ asset('bundles/app/images/mobile_menu.png') }}" /></a>
        </div>
        <div class="mobileMenuBlock expanded">
            <ul class="mobileMenu">
                <li class="{% if app.request.attributes.get('_route') == 'homepage' %} act{% endif %}">
                    <a href="/">Главная</a>
                </li>
                <li class="subItemMenu{% if app.request.attributes.get('_route') == 'catalog' %} act{% endif %}">
                    <a href="/catalog" class="actSubItem expanded">Каталог продукции</a>
                    <ul class="submenu">
                        {% for productLink in productLinks %}
                            <li>
                                <a href="/catalog?productLinkFilter={{ productLink.id }}">{{ productLink }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'about' %} act{% endif %}">
                    <a href="/about">О нас</a>
                </li>
                {#<li>#}
                    {#<a href="/">Способы оплаты</a>#}
                {#</li>#}
                <li class="{% if app.request.attributes.get('_route') == 'encyclopedia' %} act{% endif %}">
                    <a href="/encyclopedia">Энциклопедия</a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'contacts' %} act{% endif %}">
                    <a href="/contacts">Контакты</a>
                </li>
            </ul>
        </div>
        <img class="mobileLogo" src="{{ asset('bundles/app/images/logo_new.png') }}" alt="Логотип" />
        <div class="mobileChooseLocale">
            <a href="/">
                <img src="{{ asset('bundles/app/images/rus_img.svg') }}" alt="" />
            </a>
        </div>
    </div>
    <div class="menuBlock clearfix">
        <div class="menuLogo">
            <a href="/">
                <img src="{{ asset('bundles/app/images/logo_new.png') }}" alt="Логотип" style="width: 258px; height: 62px;" />
            </a>
        </div>
        <ul>
            <li class="{% if app.request.attributes.get('_route') == 'homepage' %} act{% endif %}">
                <a href="/">Главная</a>
            </li>
            <li class="subItemMenu{% if app.request.attributes.get('_route') == 'catalog' %} act{% endif %}">
                <a href="/catalog" class="actSubItem collapsed">Каталог продукции</a>
                <ul class="submenu">
                    {% for productLink in productLinks %}
                        <li>
                            <a href="/catalog?productLinkFilter={{ productLink.id }}">{{ productLink }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'about' %} act{% endif %}">
                <a href="/about">О нас</a>
            </li>
            {#<li>#}
                {#<a href="/">Способы оплаты</a>#}
            {#</li>#}
            <li class="{% if app.request.attributes.get('_route') == 'encyclopedia' %} act{% endif %}">
                <a href="/encyclopedia">Энциклопедия</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'contacts' %} act{% endif %}">
                <a href="/contacts">Контакты</a>
            </li>
        </ul>
    </div>
</header>